* {
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin-bottom: 5rem;

}
#cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#card {
    width:20rem;
    box-shadow: 0 0 4px 3px black;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 1.5em;
    margin-left: .5em;
    margin-right: .5em;
}
.title {
    font-size: medium;
    text-transform: uppercase;
}
.card_info {
    text-transform: capitalize;
}

.cardsImage {
    width: 80%;

}